[2016-06-29 06:35] cemegginson opened #1 "Uncaught TypeError: _.castArray is not a function"
[Enter steps to reproduce below:]
1. Install linter-spell.
2. The error appears.

**Atom Version**: 1.8.0
**System**: linux 4.6.3-1-ARCH
**Thrown From**: [linter-spell](https://github.com/yitzchak/linter-spell) package, v0.2.1
### Stack Trace

Uncaught TypeError: _.castArray is not a function

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-06-29 10:20] yitzchak commented on #1
Try now please. Just pushed patch into v0.2.2

[2016-06-29 16:09] cemegginson commented on #1
Thanks, that fixed it.

[2016-06-29 16:09] #1 closed, assigned to yitzchak

[2016-07-10 15:52] yitzchak opened #3 "Improve language selection"
Allow usage of IANA language tags in dictionaries.

[2016-07-10 15:52] #3 closed, assigned to nobody

[2016-07-10 16:26] yitzchak opened #4 "Add atom-package-deps"
Auto install dependencies. 2b67ff59ea22f0f5c7b277f587fb22a66e31d525

[2016-07-10 16:31] #4 closed, assigned to nobody

[2016-07-10 16:34] yitzchak opened #5 "Package fails to activate"
Error message indicates lodash missing method.

[2016-07-10 16:34] yitzchak commented on #5
Fixed by 5396ba6bb2db002bee4c491f1395604b0fd5ddbb

[2016-07-10 16:34] #5 closed, assigned to nobody

[2016-07-10 16:37] yitzchak opened #6 "Add matching based on scopes"
Look at the scope path to determine whether or not to spell check.

[2016-07-10 16:39] yitzchak commented on #6
Implemented by 1e84194deda32dd83698e237cc45dd8e4367f7ed

[2016-07-10 16:39] #6 closed, assigned to nobody

[2016-07-10 16:42] yitzchak opened #7 "Implement path based scopes"

[2016-07-10 16:42] yitzchak commented on #7
Implemented by 0cf22311538cd8e6bab7200bc0da77140248c0b3

[2016-07-10 16:42] #7 closed, assigned to nobody

[2016-07-10 16:44] yitzchak opened #8 "Improve error handling in Spell"
Report missing executable & status codes.

[2016-07-10 16:44] yitzchak commented on #8
Resolved in 1954c6b40db603d4acd987beb4ea4afd4a3df0b7

[2016-07-10 16:44] #8 closed, assigned to nobody

[2016-07-10 16:46] yitzchak opened #9 "Restore getRanges"
Some languages (javascript) need to tokenize the checked range.

[2016-07-10 16:46] yitzchak commented on #9
Resolved in 496085083e61312c6acc11c43090ea0c68567162

[2016-07-10 16:46] #9 closed, assigned to nobody

[2016-07-10 16:48] yitzchak opened #10 "Spell check fail"
Sometimes spell check fails with `range undefined`

[2016-07-10 16:48] yitzchak commented on #10
Fixed by 496085083e61312c6acc11c43090ea0c68567162

[2016-07-10 16:48] #10 closed, assigned to nobody

[2016-07-10 16:49] yitzchak opened #11 "Linter highlight offset by one character"
Lines start with `*`

[2016-07-10 16:50] yitzchak commented on #11
Fixed by 6bbacf8d36eed71825ff7437b426bec4eb863148

[2016-07-10 16:50] #11 closed, assigned to nobody

[2016-07-10 16:51] yitzchak opened #12 "Add AsciiDoc lang attribute parsing"

[2016-07-10 16:52] yitzchak commented on #12
Resolved by 6bbacf8d36eed71825ff7437b426bec4eb863148

[2016-07-10 16:52] #12 closed, assigned to nobody

[2016-07-10 16:53] yitzchak opened #13 "Improve AsciiDoc and GFM checking"
Avoid checking urls, links, etc.

[2016-07-10 16:53] yitzchak commented on #13
Resolved with 884b2848ad63ff800a3e1e11abc1e7d73c221978

[2016-07-10 16:53] #13 closed, assigned to nobody

[2016-07-10 16:54] yitzchak opened #14 "Add setting to override personal dictionary"

[2016-07-10 16:54] yitzchak commented on #14
Done in 6bbacf8d36eed71825ff7437b426bec4eb863148

[2016-07-10 16:54] #14 closed, assigned to nobody

[2016-07-12 13:29] yitzchak opened #15 "Better Language Matching"
Implement better language matching ([RFC 4647](https://tools.ietf.org/html/rfc4647)) and dictionary selection including graceful failure in the case of missing dictionaries.

[2016-07-12 14:55] yitzchak opened #16 "User selection of language"
Allow user to select languages for the current `TextEditor`

[2016-07-12 17:25] #15 closed, assigned to yitzchak

[2016-07-12 23:05] yaelber opened #17 "Why am I unable to uninstall it?"
I click the button but nothing happens

[2016-07-12 23:19] yitzchak commented on #17
After you uninstall and restart all atom windows do you see it in the installed package list?

[2016-07-12 23:22] yaelber commented on #17
All good. I didn't restart it. Thanks!

On Tue, Jul 12, 2016 at 7:19 PM, Tarn Burton notifications@github.com
wrote:

[2016-07-12 23:24] yitzchak commented on #17
It's probably still a bug, but at least your install is clean. Thanks for reporting!

[2016-07-13 15:37] yitzchak commented on #17
This looks like a bug in Atom <1.9 per atom/atom#11464

[2016-07-13 15:37] #17 closed, assigned to yitzchak

[2016-07-13 23:01] #16 closed, assigned to yitzchak

[2016-07-14 16:17] yitzchak opened #18 "Add support for language-markdown"
Add support for scope `text.md` provided by [language-markdown](https://atom.io/packages/language-markdown). Include in linter-spell versus add-on package since [language-gfm](https://atom.io/packages/language-gfm) is already included in the core.

[2016-07-14 20:25] #18 closed, assigned to yitzchak

[2016-07-19 13:39] yitzchak opened #19 "Support embedded spell checking"
Allow embedded spell checking and tokenization for scopes like `embedded.text.basic.html`

[2016-07-19 18:45] #19 closed, assigned to yitzchak

[2016-07-28 11:01] yitzchak opened #20 "Improve checked scopes"
Go through language-asciidoc, language-gfm and language-markdown and figure out which scopes need to be explicitly not checked.

[2016-07-28 11:04] #20 closed, assigned to yitzchak

[2016-08-03 10:57] yitzchak opened #21 "Allow dynamic change in checked scopes"
Support user selection of spell checking in comments for yitzchak/linter-spell-latex#9

[2016-08-03 11:08] #21 closed, assigned to yitzchak

[2016-08-16 12:48] Subh94 opened #22 "Unable to find Dictionary en-us"
When i enable this in atom i am getting error "Unable to find Dictionary en-us " any help will be appreciated.

[2016-08-16 13:36] yitzchak commented on #22
Are you using hunspell or aspell? If you are using hunspell what is the output of

[code]

or

[code]

for aspell?

[2016-08-16 13:49] Subh94 commented on #22
After running "aspell dicts" on my system

en
en-variant_0
en-variant_1
en-variant_2
en-w_accents
en-wo_accents
en_CA
en_CA-variant_0
en_CA-variant_1
en_CA-w_accents
en_CA-wo_accents
en_GB
en_GB-ise
en_GB-ise-w_accents
en_GB-ise-wo_accents
en_GB-ize
en_GB-ize-w_accents
en_GB-ize-wo_accents
en_GB-variant_0
en_GB-variant_1
en_GB-w_accents
en_GB-wo_accents
en_US
en_US-variant_0
en_US-variant_1
en_US-

[2016-08-16 14:48] yitzchak commented on #22
Please try upgrading to v0.10.3

[2016-08-16 15:40] oscarlevin opened #23 "Backwards cycling through suggestions"
I'm not sure if this is an issue for linter-spell, intentions, or linter, but upon hitting alt+enter on a misspelled word, the up and down arrows cycle through the options backwards.  Down arrow highlights the entry above the currently highlighted one, up arrow highlights below.

[2016-08-16 16:18] yitzchak commented on #23
I think this is a bug in intentions. I rolled back to v1.0.5 from v1.1.0 and it works fine. They changed to `core:move-up` in v1.1.0.

[2016-08-16 16:36] oscarlevin commented on #23
Interesting.  I see you beat me to posting the issue there.  Thanks for looking into this.

[2016-08-16 16:57] yitzchak commented on #23
@steelbrain posted the fix in v1.1.1

[2016-08-16 16:57] #23 closed, assigned to nobody

[2016-08-17 18:54] EdwinHuijsing opened #24 "Seems not to work"
Hallo,

I just installed the add-in, without any problems.
- Created a new documet (<kbd>CTRL</kbd>+<kbd>N</kbd>)
- <kbd>CTRL</kbd>+<kbd>SHIFT</kbd>+<kbd>L</kbd>
- copied text from https://nl.wikipedia.org/wiki/Nederland
- pressed <kbd>ALT</kbd>+<kbd>Y</kbd> and selected nl-NL

But the spell check still underlined most of it, like it uses en-US. The same if de-DE with the link https://de.wikipedia

[2016-08-17 18:59] yitzchak commented on #24
After you selected nl-NL did the language update in the status bar?

[2016-08-17 19:04] EdwinHuijsing commented on #24
Yes the language changed.

That's something I also tried, open new tab, past content  and then change language in the status bar.
Result is the same.

[2016-08-17 19:06] yitzchak commented on #24
What is the output of the following?

[code]

[2016-08-17 19:08] EdwinHuijsing commented on #24
[code]

[2016-08-17 19:10] yitzchak commented on #24
Is the `spell-check` package enabled?

[2016-08-17 19:11] EdwinHuijsing commented on #24
Yes, atom `spell-check` is enabled

[2016-08-17 19:13] yitzchak commented on #24
`spell-check` does not understand non English documents. Try disabling it, please.

[2016-08-17 19:17] EdwinHuijsing commented on #24
I have disabled the package, but not when i past text from https://nl.wikipedia.org/wiki/Nederland. No check is down, the dutch text is now valid in en-US, nl-NL, de-DE.

[2016-08-17 19:22] yitzchak commented on #24
Okay, I probably wasn't clear before. Can you check to make sure that `linter-spell` is _enabled_ and `spell-check` is _disabled._ `spell-check` is a core package and will be in the "Core Packages" list.

[2016-08-17 19:25] EdwinHuijsing commented on #24
It is already as you state
`linter-spell` is enabled
atom `spell-check` is disabled

[2016-08-17 19:55] yitzchak commented on #24
Okay. Well try restarting atom just in case. If that does not work, I'll have to think about it some more since I was not able to replicate on Arch.

[2016-08-17 19:57] EdwinHuijsing commented on #24
I have done that already, with result.

I have done some testing HTH

I have disabled all packages except for:
- Intentions
- linter
- linter-spell

Two this if found
1 If i save the dutch text to file, the spelling validation becomes active
2 After reopening
- close the file open it
- open it
- save it

I am still looking for other options to test
- press spacebar
  it has to be in this order

[2016-08-17 19:58] yitzchak commented on #24
I think I know what it is. What version of atom do you have?

[2016-08-17 19:58] EdwinHuijsing commented on #24
1.9.8

[2016-08-17 20:00] yitzchak commented on #24
I guess not. There was an package activation bug, but that was fixed in 1.9.6

[2016-08-17 21:12] EdwinHuijsing commented on #24
Can you write some tests (spec) that i can run, it should contain the language code.
If possible something like
  For Aspell or Hunspell could be taken from the settings.
  If language exists then run test else add/show skip message
  Test: is linter active, are there error found, is language set, ...
I don't know it it's posible, but if it is this could provide the information need.

I have stepp

[2016-08-17 22:46] yitzchak commented on #24
May take a bit to get some together.

What does `locale` report for you?

[2016-08-18 08:36] EdwinHuijsing commented on #24
[code]

[2016-08-18 10:12] yitzchak commented on #24
Can you try the following? FIrst:
1. <kbd>Ctrl</kbd>+<kbd>N</kbd>
2. Paste
3. <kbd>Alt</kbd>+<kbd>Y</kbd> and select nl-NL
4. <kbd>Ctrl</kbd>+<kbd>S</kbd> and save as text file.

For me the spelling errors show in the linter pane at the bottom of atom, but sometimes the errors are not underlined.

Second:
1. Close the file
2. Close and reopen atom
3. Open the file
4. <kbd>Ctrl</kbd>+<kbd>S</kbd>

[2016-08-18 10:29] EdwinHuijsing commented on #24
I run the test more then once, the outcome did not change.

**Test one new file**
- after changing the language no error found
- after save 3 error found, added yellow dots in gutter, underlined the errors

**Test two op file**
- Language detected en-US
- errors 177, added yellow dots in gutter, underlined the errors

**_linter-spell version 0.11.0**_

[2016-08-18 10:32] yitzchak commented on #24
On the second test please try changing the language then saving.

Also please note that linter-spell does not do "on-the-fly" spell checking. It **only** spell checks after save.

[2016-08-18 10:57] EdwinHuijsing commented on #24
Thanks, it works.
In short, i missed the saving part.

Long version with a note and question:

Most of the time i read first line and the check the short-cuts after installing. Also the spell-checks that i am using (Office, browser, ...), do on-the-fly checks. The linters that I work with in atom, also check on the fly.
So I think assuming and scanning/quick-reading the text made me miss the savin

[2016-08-18 11:01] yitzchak commented on #24
Yes, I want it to eventually support on the fly checking. It will probably be difficult to do though since linter does not keep track of incremental changes in the source file and spell checking is slow process.

I am going to leave this issue open and flag it as an enhancement. I'll see if I can figure out how to spell check upon language selection.

[2016-08-18 11:07] EdwinHuijsing commented on #24
The [php-integrator-linter](https://github.com/Gert-dev/php-integrator-linter) checks on the fly, maybe you check how it works there.

[2016-08-19 01:11] yitzchak commented on #22
I think this is fixed in >v0.10.3

[2016-08-19 23:56] fndercole opened #25 "updateDictionaries() in language-manager.js fail in hunspell case with non english interface"
On line 177 in `linter-spell/lib/language-manager.js` you match «AVAILABLE DICTIONARIES» string.

[code]

But, in my installation, hunspell interface was translated in spanish, so this line must be replaced by

[code]

I change this line after each linter-spell update, to achieve the dictionaries list query.

I tried to identify an universal way to fix this, but I can't found it.

I hope that you

[2016-08-20 01:01] yitzchak commented on #25
Thanks for reporting. I'll put in a translation table probably.

[2016-08-20 10:53] yitzchak commented on #25
Try upgrading to v0.11.1

[2016-08-20 11:54] yitzchak opened #26 "Support on the fly linting"
As mentioned in #24

[2016-08-20 11:55] yitzchak opened #27 "Spell check upon language selection"
As mentioned in #24

[2016-08-20 11:56] yitzchak commented on #24
Split this into #26 and #27

[2016-08-20 11:56] #24 closed, assigned to yitzchak

[2016-08-20 13:21] yitzchak opened #28 "Add dictionary provider service"
Add service based dictionary API, including the ability to add words to dictionaries, etc.

[2016-08-20 13:49] fndercole commented on #25
Now works!, thanks.

[2016-08-20 13:55] yitzchak commented on #25
Awesome.

[2016-08-20 13:55] #25 closed, assigned to yitzchak

[2016-08-28 19:40] yitzchak commented on #22
Closing assuming that this is fixed. I will reopen if it is not.

[2016-08-28 19:40] #22 closed, assigned to yitzchak

[2016-08-28 19:46] yitzchak commented on #28
Resolved by #29

[2016-08-28 19:46] #28 closed, assigned to yitzchak

[2016-08-30 08:55] nathdwek opened #30 "Possibility to add some sort of post or preprocessing?"
I'm writing technical texts, and I would like to have the ability to automatically ignore uppercase acronyms and capitalized words. I figured `aspell` or `hunspell` would allow to configure this from a configuration file, but they don't AFAIK; and I don't think there is a lot of hope to get such a request going on their side given their codebases.

Would it be worth considering to add the ability

[2016-08-30 11:01] yitzchak commented on #30
The next version will allow additional dictionary providers which will make this possible. For instance [linter-spell-project](https://github.com/yitzchak/linter-spell-project) for project specific dictionaries. Each language (LaTeX, HTML, etc) will also have their own dictionaries.

Out of curiosity, what file format are your text written in?

[2016-08-30 11:14] nathdwek commented on #30
latex and md files mostly.

[2016-09-23 08:30] shemerey opened #31 "Doesn't work properly for in `vim-mode`"
@yitzchak thx for an awesome project, but I found one problem while using it in `vim-mode` I am using `vim-mode-plus` but probably it will have same problems for  `vim-mode`  too.

For some reason, you can't add `word` into dictionary while you in normal mode. you have to be in `insert` mode to be able to add `word`.

Might be you can point me in source code where you handle this, or this issue fo

[2016-09-23 08:34] shemerey commented on #31
Never mind I figured it was problem with priority of keymapping for `intentions`

solve it with

[code]

[2016-09-23 09:35] yitzchak commented on #31
Thanks for investigating! Glad you were able to solve the issue.

[2016-09-23 09:35] #31 closed, assigned to nobody

[2016-10-24 19:02] runar-rkmedia opened #32 "Setting encoding."
I currently have a problem with running `linter-spell` for the norwegian language. The special norwegian-letters æ,ø,å seems to be making some problems, and I would guess that this is due to some encoding. I am using `aspell`, which is set to use UTF-8. encoding, and the document is also in UTF-8.

This might not be a bug with linter-spell, but it seems to me that it is.

In the test below, the te

[2016-10-24 19:31] yitzchak commented on #32
What language is selected in the status bar at the bottom right?

[2016-10-24 19:36] runar-rkmedia commented on #32
I've tested both `nb`(Norwegian Bokmål) and `no`(Nowegian). On words that do not contain the special letters æ, ø or å, the spellchecking works great.

[2016-10-24 20:03] yitzchak commented on #32
Okay, I have not been able to reproduce yet. What version of `linter-spell` do you have and what kind grammar is the file (plain-text, etc)?

[2016-10-24 20:25] runar-rkmedia commented on #32
`linter-spell` is version 0.12.0. The grammar is `plain-text`, but also on `latex` I'm running  Atom 1.12.2 on macOS Sierra.

[2016-10-25 04:57] albireox opened #33 "Skip short words"
It may be possible to do this already, but I haven't found the way. It would be nice to be able to ignore very short words (2 or 3 chars) from the linting. That would remove abbreviations, initials, and other stuff that usually throws errors.

[2016-10-25 23:14] yitzchak commented on #32
Please try upgrading to 0.12.1.

[2016-10-26 13:54] runar-rkmedia commented on #32
Same thing happens after upgrade.

![scr_4](https://cloud.githubusercontent.com/assets/5629981/19728636/7913a4ca-9b94-11e6-96c8-15933409a1b3.png)

[2016-10-26 17:10] yitzchak commented on #32
Try upgrading to 0.12.2. Also aspell may not like the additional en-US dictionary and you need to separate  languages with commas in the settings page.

[2016-10-26 18:44] runar-rkmedia commented on #32
the new version works. (did not change anything else as suggested in your last comment)

Thank you so much for the update, and for a great tool.

[2016-10-26 18:44] yitzchak commented on #32
Awesome!

[2016-10-26 18:44] #32 closed, assigned to nobody

[2016-10-27 19:11] StupidUselessAccount opened #34 "Adding case-sensitive words adds `null`"
Hello,

When I add a case-sensitive word to my LaTeX dictionary, it is added in my `config.cson` as "null" (throwing an error when used to spellcheck the document). If I look at the code in `node_modules/linter-spell-word-list/main.js`, line 63 there is a call to `addWord` with only one parameter while in the other call there are three parameters. If I replace `this.addWord('!' + text)` with `this

[2016-10-27 19:37] yitzchak commented on #34
Thanks for reporting the issue and tracking down the cause. I just pushed out a patch.

Your personal dictionary path is chosen by hunspell or aspell if you do not specify one. For hunspell it is usually: `$HOME/.hunspell_default`

[2016-10-27 19:37] #34 closed, assigned to nobody

[2016-10-27 20:48] StupidUselessAccount commented on #34
Thanks! It's the same for aspell, I found my words in `~/.aspell.fr.pws`.

[2016-11-03 03:20] greencopper opened #35 "Request: Add option to delete from personal dictionary"
Hi

When using linter-spell in my daily work I sometimes make the mistake of adding a misspelled word to the personal dictionary.

I have yet to figure out how to remove it again. I have been able to locate where the words are stored and in what format.

Anyway having a "remove from dictionary" would be great. Or at least a mention in the doc about where words are stored etc.

Kind regards

[2016-11-03 14:22] yitzchak commented on #35
Did you add it to the personal dictionary or a language specific dictionary?

[2016-11-08 01:08] greencopper commented on #35
Just the personal dictionary. It's memory based?

[2016-11-08 01:23] yitzchak commented on #35
No. It managed by the spelling provider, hunspell or aspell

[2016-11-09 07:49] greencopper commented on #35
I mean, is the personal dictionary only memory based? Or where does the personal added words get stored?

[2016-11-09 10:35] yitzchak commented on #35
The [hunspell](https://linux.die.net/man/1/hunspell) dictionary is stored in `$HOME/.hunspell_dicname` where `dicname` is language such as en_US.

[2016-11-12 09:51] ChrisChinchilla opened #36 "1.12.2 Incompatibility"
I'm not 100% sure if this is a valid issue or not, but I recently updated Atom to the version released in the past couple of days, and also did some laptop spring cleaning, so maybe I deleted something.

But now I can't get spell checking to work and receive this error:
<img width="1121" alt="screenshot 2016-11-12 10 52 32" src="https://cloud.githubusercontent.com/assets/42080/20236976/269fbc62-a8

[2016-11-12 11:56] yitzchak commented on #36
Looks like it is having a hard time running `aspell`? Can you check to make sure is in the search path?

[2016-11-12 15:41] ChrisChinchilla commented on #36
@yitzchak I don't think so as I don't remember having this issue with aspell in Atom before, could you give an example of settings that you would expect? If so, I may make a PR against the read me to make that a bit clearer.

[2016-11-12 15:55] yitzchak commented on #36
I suspect the error is coming from the call to `aspell dicts` which should return a list of dictionaries. I added an error message and a null check. Try to update to v0.12.4. It probably won't fix the issue, but it may tell us more.

[2016-11-12 16:29] ChrisChinchilla commented on #36
@yitzchak I got his working again by specifying the complete path to aspell (i.e /usr/local/bin/aspell) and deleting all the settings for languages and dictionaries. I'm now unsure if this was a bug or not, maybe see if anyone else gets it :/

[2016-11-12 16:31] yitzchak commented on #36
@ChrisChinchilla Glad you got it working again. I'll dig around and see if there is a root cause.

[2016-12-08 16:37] PaulEcoffet opened #37 "Shift in correction with multibytes characters"
Good evening,

I have started to write a text in French in utf-8, and when I type an accent, every misspelled word after it are slightly shifted to the right.

As you can see, linter-spell says that "alde" is misspelled and not "malde" as hunspell says in terminal mode.

![image](https://cloud.githubusercontent.com/assets/1191782/21018210/573083ba-bd6c-11e6-9c5a-0fd09e1645ce.png)

[code]

If I typ

[2016-12-08 17:32] yitzchak commented on #37
Thank you for the bug report. I'll look into it.

[2016-12-09 14:45] yitzchak commented on #37
I have not been able to reproduce this yet. Can you send me a file demonstrating the issue? Also, what OS are you on?

[2016-12-09 16:28] PaulEcoffet commented on #37
I was at the office when I noticed the bug and we use Ubuntu 14.04 there. I tried to reproduce it at home with Ubuntu 16.10 and the bug was not present anymore. It might be due of a old version of hunspell that I am running there. I will investigate it more next week.

[2016-12-12 02:51] caesar opened #38 ""Call to hunspell failed with a code of 1.""
When I enable the plugin, it shows the error: `Call to hunspell failed with a code of 1.`

I have installed hunspell using `brew` and I have tried setting the path manually in linter-spell's preferences (`/usr/local/bin/hunspell`). The message remains the same.

There are no errors logged in the Javascript console, though linter-spell is logging the message: `All dependencies installed, good to go

[2016-12-12 11:09] yitzchak commented on #38
Do you get the error message immediately after enabling?

[2016-12-12 14:33] caesar commented on #38
Yes, immediately after enabling.
Also when opening Atom, if the plugin is enabled.

[2016-12-12 14:34] caesar commented on #38
FWIW, calling `hunspell` from the command line works, so there is no problem with my hunspell install.

[2016-12-12 16:48] yitzchak commented on #38
Can you try `hunspell -D` on the command line?

[2016-12-12 19:09] caesar commented on #38
[code]

*Does not exit unless I press Ctrl+C.* (I don't know if that's intended behaviour?)

Note that the en_GB dictionary files are in `~/Library/Spelling`, although hunspell omits the `~/`.

Also, They were previously called `en-GB` (with a hyphen instead of an underscore), which works fine for the OS X spell checker, but hunspell complained: `Can't open affix or dictionary files for dictionary

[2016-12-12 19:40] yitzchak commented on #38
hunspell won't exit until it sees an end of file marker. Try using <kbd>ctrl</kbd>-<kbd>d</kbd> then do a `echo $?`. Assuming you are using a bash-like shell.

[2016-12-12 19:57] caesar commented on #38
I'm using fish, so it's `$status` instead of `$?` – but anyway: the exit status is 0.

[2016-12-12 21:39] yitzchak commented on #38
I have reproduced it. No idea why but it looks like hunspell isn't finding any dictionaries when called from inside Atom.

[2016-12-12 23:32] caesar commented on #38
Interesting… how did you reproduce this? Presumably it does not apply for everybody, so what did you do to make it happen? How might my config (which seems fairly vanilla) differ from setups where it works?

[2016-12-13 13:32] yitzchak commented on #38
Nothing in particular. The last time the CI build ran on MacOS it used hunspell v1.4.1. Since then hunspell has upgraded to v1.5.4 and CI is failing so it is probably something there.

I'll look around and see if I can find the problem.

[2016-12-13 19:41] yitzchak commented on #38
@caesar Just pushed out a patch (v0.12.6). Give it a try.

[2016-12-14 02:47] caesar commented on #38
It works! 🎉

Thanks for sorting this out so fast @yitzchak!

[2016-12-14 02:47] #38 closed, assigned to nobody

[2016-12-14 03:02] yitzchak commented on #38
Awesome. Thanks for taking the time to report the issue.

[2016-12-21 17:02] greencopper opened #40 "TypeError: Cannot read property 'length' of undefined"
[code]

This happens during ordinary text editing.

[2017-01-24 18:32] PaulEcoffet opened #41 "add regex as words in dictionnary"
Good evening,

I write report in markdown using pandoc references system which are in the format `@article_id`. As the article id is usually a surname followed by a year, it is always taken as misspelled word. I tried to add `@\w*` in the github dictionnary but it did not work. Is it possible to use regex as word? Or to make `@bla` not checked by linter-spell?

The same thing happens for '--------

[2017-01-26 12:32] ghost opened #42 "Spell checking doesn't activate in atom 1.13.1"
Linter-spell doesn't check spelling at all in Atom 1.13.1 on macOS 10.12.2.

For reference the rest of the linter-thing work fine, chktex, for instance has no issues.

[2017-01-31 10:23] mariogeiger opened #43 "Disable for some file"
Is there a way to diable the spell check in some particular file ?

I like the spell check in markdown files but what if I dont want it for a particular file ?

[2017-01-31 10:44] yitzchak commented on #43
There is not a way to do this currently. I'll add it to the todo list.

[2017-01-31 17:38] Arcanemagus commented on #43
You can do this from Linter itself:

1. Open the Command Palette
2. Run "Linter: Toggle Active Editor

_All_ linting will be disabled on that file until you close and re-open it (or run the command again). If you would like to permanently disable all linters for a specific file you can add it to the ignore list in Linter.

[2017-01-31 18:35] yitzchak commented on #43
@Arcanemagus Awesome. Thanks for the help.

[2017-03-01 01:50] dhabyx commented on #41
I agree with Paul, in many texts I use md5 or sha sums, and sometimes is tedious mark all this with ignore option.

[2017-03-01 02:10] yitzchak commented on #41
Thanks for the feedback. I'll look into what it would take to accomplish this.

[2017-03-01 02:11] yitzchak commented on #42
You probably need to specify the path to hunspell. `brew` doesn't put it the system path.

[2017-03-01 02:11] #43 closed, assigned to yitzchak

[2017-03-06 17:41] beliasson commented on #38
Hello,
This week, exactly the same error message described in this issue appeared on my machine
I'm using version 0.12.6 and hunspell v 1.6.0 on macOS.
For me it looks like a hunspell update broke the plugin for me.

[2017-03-07 06:15] zanlib0 commented on #38
Happens to me as well, using elementary OS Loki.

[2017-03-07 11:10] yitzchak commented on #38
Thanks for the issue notification! I'll try to reproduce it.

[2017-03-11 01:33] audreytoskin opened #44 "Error 404 while trying to install linter-spell dependencies"
When I launch Atom with linter-spell enabled, I see a balloon saying it's trying to install some dependencies, then then this message:

These packages were not installed, check your console
for more info.
  • intentions

From the console:

[code]

[2017-03-11 11:51] yitzchak commented on #44
Try doing a manual install of the `intentions` package.

[2017-03-12 07:37] audreytoskin commented on #44
`apm install intentions` does seem to fix the issue. Was it a problem in `linter-spell`'s installation script, or was I having some kind of network issue?

[2017-03-12 12:01] yitzchak commented on #44
It was probably a network problem. The dependency install is a little fragile, though.

Glad you got it working!

[2017-03-15 13:07] X-G commented on #42
Hi yitzchak,
I'm trying to using package on Windows 7, but have issues to install hunspell. Could you share an easy way to install hunspell?
Many thanks.

[2017-03-16 09:54] #42 closed, assigned to nobody

[2017-03-16 09:55] yitzchak commented on #40
Are you still seeing this?

[2017-03-16 09:55] #36 closed, assigned to nobody

[2017-03-16 19:32] Arcanemagus commented on #40
If this _is_ still happening, it looks like it would be triggered [here](https://github.com/yitzchak/linter-spell/blob/7f3b7e7ada378fbba059de64649b35528e7b953e/lib/spell.js#L102), which is only called in [two](https://github.com/yitzchak/linter-spell/blob/7f3b7e7ada378fbba059de64649b35528e7b953e/lib/dictionary-provider.js#L31) [places](https://github.com/yitzchak/linter-spell/blob/7f3b7e7ada378fbb

[2017-03-17 09:03] X-G opened #46 "cannot select corrected word using mouse"
When the corrected word menu pop up, there is nothing changed if you select one word in the list using MOUSE.

Platform: Windows 7 & Atom 1.15

[2017-03-17 09:49] yitzchak commented on #46
Does it work when you use the keyboard?

[2017-03-17 12:07] X-G commented on #46
Yes. It works using keyboard.

[2017-03-17 12:11] yitzchak commented on #46
What version of linter and linter-spell are you on?

[2017-03-17 12:21] X-G commented on #46
linter 2.1.0
linter-spell 0.13.0

[2017-03-17 12:27] X-G commented on #46
In case you need the list of all packages
├── atom-beautify@0.29.17
├── auto-detect-indentation@1.3.0
├── build@0.67.0
├── build-python@0.9.1
├── busy@0.7.0
├── busy-signal@1.3.0
├── chary-tree-view@0.2.3
├── chester-syntax@0.4.0
├── duotone-dark-syntax@2.1.0
├── duotone-light-syntax@2.1.0
├── file-icons@2.0.17
├── flex-tool-bar@0.12.0
├── highlight-line@0.12.0
├── highlight-selected@0.12.0
├── in

[2017-03-17 12:39] yitzchak commented on #46
This sounds like an issue with the intentions package on which linter-ui-default depends. I'll try to reproduce it.

[2017-03-27 20:41] audreytoskin opened #47 "linter-spell is very slow to start up and activate"
Atom's "time cop" feature, under Package Loading, shows linter-spell only takes 7 ms, but under Package Activation, it's *12074* ms.

Testing on:

* Fedora 25 Workstation x86_64
* Atom 1.15.0
* Electron 1.3.13
* Chrome 52.0.2743.82
* Node 6.5.0
* linter-spell 0.13.0

With an AMD Athlon 64 x2 dual core processor 6000+ (a little old).

[2017-03-31 05:24] codemonkey800 opened #48 "Package missing?"
I'm getting a 404 right now for this package. Not sure if this was intended, but here's what I'm getting as of today:

![image](https://cloud.githubusercontent.com/assets/2176050/24537525/8c991af2-1597-11e7-9580-0f5a8c82fa97.png)

[2017-04-04 04:47] kitchenknif commented on #38
Also have the issue on
macOS
Hunspell 1.6.1
linter-spell 0.13

Hunspell from cli works.

[2017-04-05 21:12] steelbrain commented on #48
Yeah I just got the same. Ping @yitzchak

[2017-04-05 23:01] yitzchak commented on #48
@steelbrain @Arcanemagus I haven't put up a notice up yet, but I am not able to devote enough time to support this one. I have a large project that I have been working for about 4 months.

IMHO `linter-spell` and family need a full rewrite, possibly merging them all into a single package? If someone wants to adopt/fork please feel free.

[2017-04-06 04:58] Arcanemagus commented on #48
Do you want to move the repo into the AtomLinter org? I can keep it working and help anyone interested in maintaining it.

The procedures can be found [here](https://github.com/AtomLinter/Meta/wiki/Migrating-a-repository).

[2017-04-06 11:17] yitzchak commented on #48
@Arcanemagus Sounds good.

[2017-04-06 18:01] Arcanemagus commented on #48
All 7 repos transferred into the org, you have explicit Admin rights on all of them, as well as a team created that allows write access to all of them, I'll try to get a (re-)release published on them later today restoring them to APM at the new location.

[2017-04-06 18:20] yitzchak commented on #48
Awesome. Please note that `linter-spell-word-list` is a npm support package. I've added you as a collaborator.

[2017-04-06 23:38] codemonkey800 commented on #48
Wow! Glad we got this resolved 😃 I'll close this issue then.

[2017-04-06 23:38] #48 closed, assigned to nobody

[2017-04-09 01:11] Arcanemagus commented on #48
v0.13.1 re-published on APM 😉 🎉

[2017-04-11 09:53] flungo commented on #37
Not sure if I should raise another issue or if its closely enough to this to include here but I get a problem with shifting for non-multibyte characters so long as the length of correction differs from the length of text being corrected. Take the following example of a text document with contents:

[code]

As you correct from left to right (without saving in between), the later corrections get ins

[2017-04-15 11:37] yitzchak commented on #47
@terrycloth Thanks for the issue request. We are currently working on this.

[2017-04-23 17:37] flungo commented on #47
Switching to `aspell` from the default `hunspell` has taken the activation time on my PC from ~590ms to ~435ms and makes the spell checking of any document that's reasonably sized orders of magnitude faster.

[2017-05-04 13:04] ikiru opened #50 "Install fail"
I had this issue pop up when trying to install Linter-spell

[code]

[2017-05-04 16:12] Arcanemagus commented on #50
Looks like this is due to the update of `natural@0.5.1` which brings in `webworker-threads` which has a requirement of `python` to install 😕 (https://github.com/NaturalNode/natural/issues/345). I'll push out a version pinning that to 0.5.0 immediately and look into replacing the module.

[2017-05-04 16:56] #50 closed, assigned to nobody

[2017-05-07 16:31] nmiculinic opened #52 "Doesn't work in LaTeX documents"
I'm trying to get it work for latex documents.

I've installed linter-spell-latex and hunspell is on my path (in Arch both hunspell and hunspell-en packages are installed). It doesn't correct any misspelling in my latex file...How should I debug it further?

[2017-05-08 18:31] Arcanemagus commented on #52
Do you have `language-latex` installed? What does the `Linter: Debug` command show when you have one of those files open?

[2017-05-09 19:44] shrgabor commented on #52
I have the same problem here.
I have installed all the required packages.
`apm list` :
Community Packages (4)
├── language-latex@1.0.0
├── linter@1.11.18
├── linter-spell@0.13.2
└── linter-spell-latex@0.9.2
Also, I can not find the Linter: Debug command to run.

[2017-05-09 19:51] shrgabor commented on #52
I also tried the method described here: [discuss.atom.io]( https://discuss.atom.io/t/spell-check-i-cant-get-it-to-work-at-all/28708/10)
I also get the output "false", from this code.

But running hunspell directly creates the next output:
Lucifer :: dev/node/tmp » hunspell
Hunspell 1.3.3 - Magyar 1.6
bobz
& bobz 10 0: bob, boboz, bobú, boáz, borz, bobi, bobé, bob z, bobíz, bobőz

[2017-05-09 20:46] nmiculinic commented on #52
Yes

[36mBuilt-in Atom Packages[39m (89)
├── atom-dark-syntax@0.28.0
├── atom-dark-ui@0.53.0
├── atom-light-syntax@0.29.0
├── atom-light-ui@0.46.0
├── base16-tomorrow-dark-theme@1.5.0
├── base16-tomorrow-light-theme@1.5.0
├── one-dark-ui@1.9.1
├── one-light-ui@1.9.1
├── one-dark-syntax@1.7.1
├── one-light-syntax@1.7.1
├── solarized-dark-syntax@1.1.2
├── solarized-light-syntax@1.1.2
├── about@1.7

[2017-05-11 07:26] s-light opened #53 "Spell Checker Communication Error"
if i enable linter-spell i get a error message:
[code]
as `spell path`i have set `aspell`
if i check if aspell is available in my terminal it seems fine:
[code]
this is the default install in my kubuntu 16.10 system.
so i thought that this should work.
do i have to do some other steps so linter-spell can find it/communicate with it?

[2017-05-17 03:46] naota opened #54 "updateDictionaries() always throws error if dictionary for the locale is not available"
updateDictionaries() is using user's locale, so that hunspell try to load a dictionary for the locale. If dictionaries for the locale is not available (like in "ja_JP" locale), hunspell exits with error claiming "Can't open affix or dictionary files for dictionary named "ja_JP"." Thus, the fucntion always popups "Call to hunspell failed with a code of 1" error, which is irritating.

How about call

[2017-05-31 06:53] juliaanvaneijndt commented on #38
Same here :-/

macOS
Hunspell 1.6.1
linter-spell 0.13.2

[2017-05-31 16:24] chapmanc commented on #38
Have this issue as well, but my error says failed with a status code of null
macOS
Hunspell 1.6.1
linter-spell 0.13.2

[2017-05-31 16:27] chapmanc opened #55 ""Call to hunspell failed with a code of null.""
On startup of atom error says failed with a status code of null
macOS
Hunspell 1.6.1
linter-spell 0.13.2

https://github.com/AtomLinter/linter-spell/issues/38

[2017-05-31 18:18] chapmanc commented on #55
Had to specify full path. works now

[2017-05-31 18:18] #55 closed, assigned to nobody

[2017-05-31 18:18] chapmanc commented on #38
Specifying full path worked.

[2017-06-29 09:38] ChildishGiant opened #57 "Failed to activate the linter-spell package"
**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [linter-spell](https://github.com/AtomLinter/linter-spell) package 0.14.0

### Stack Trace

Failed to activate the linter-spell package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-29 16:51] Arcanemagus commented on #57
Please try re-installing the package, occasionally Atom's package manager fails to properly install all dependencies.

[2017-07-11 06:24] trentks commented on #57
Same exact issue, have uninstalled and reinstalled numerous times to the same effect.
[code]

[2017-07-12 16:22] Arcanemagus commented on #57
@trentks If you were hitting the "same exact issue" then your stack trace would be identical 😛. Can you file a new issue with steps to reproduce what you are hitting there?

[2017-07-13 09:34] neumannm opened #58 "Package activation fails"
I cannot activate the linter-spell package. I have already tried to uninstall and install again several times. I also deactivated the spell-check package beforehand.

Here's the stacktrace and other information:

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Ubuntu 16.04.2
**Thrown From**: [linter-spell](https://github.com/AtomLinter/linter-spell) package 0.14.0

### Stack Trace

Failed to act

[2017-07-13 09:35] neumannm commented on #57
I have the same error as @trentks , I have just opened issue #58 about it.

[2017-07-13 10:18] yitzchak commented on #58
Thanks for reporting the issue!

@Arcanemagus looks like this is another issue in `natural`. They just removed the `log4js` code in the offending code so upgrading the dependency will probably fix the issue. They have moved the `webworker-threads` into optional dependencies so a missing python installation shouldn't break the install.

Not really an ideal solution since all we are using out of `na

[2017-07-15 08:58] juancarloscastillo commented on #57
Similar error here, Ubuntu 14.04, Atom 1.18.0:

logger.setLevel is not a function
Hide Stack Trace
TypeError: logger.setLevel is not a function
    at Object.<anonymous> (/home/juan/.atom/packages/linter-spell/node_modules/linter-spell-word-list/node_modules/natural/lib/natural/brill_pos_tagger/lib/Brill_POS_Tagger.js:26:8)
    at Module.get_Module._compile (/usr/share/atom/resources/app/src/nativ

[2017-07-15 19:19] yitzchak commented on #58
@neumannm @juancarloscastillo @trentks @harish123400 Please try upgrading to the most recent versions.

- linter-spell@v0.15.0
- linter-spell-html@v0.7.0
- linter-spell-javascript@v0.8.0
- linter-spell-latex@v0.10.0
- linter-spell-project@v0.2.0
- linter-spell-ruby@v0.4.0

[2017-07-16 11:32] Aerijo commented on #52
You also need the package "linter-ui-default". I believe this is what lets you actually see the linting.

You aren't getting any error messages otherwise are you?

[2017-07-18 11:08] neumannm commented on #58
Seems to be working, thanks.

[2017-07-18 11:34] yitzchak commented on #58
Great! Closing, will reopen if needed.

[2017-07-18 11:34] #58 closed, assigned to nobody

[2017-07-18 16:02] Arcanemagus commented on #58
Sounds like a good idea, I haven't had that much time to dedicate to this org recently so I didn't see this till just now!

[2017-07-18 16:08] yitzchak commented on #58
@Arcanemagus No worries. Merged and it should be resolved. Also in `linter-spell-word-list`.

[2017-07-23 02:32] Aerijo commented on #41
This is best covered by the grammar package, which should label such constructions as a specific scope. The language specific linter-spell package can then be told to blacklist these scopes from spell checking. I am not sure why this is not already the case, unless this is an odd usecase.

Also, @PaulEcoffet, dictionary entries are covered by hunspell or aspell (whichever you use), so here is not

[2017-07-23 02:53] Aerijo commented on #53
I had a (sort of) similar error with hunspell. Try using the absolute path for aspell, rather than relying on it being able to find the program in your path.

[2017-07-23 02:57] Aerijo commented on #26
Can this be done at least every time a spelling error is corrected? Currently it still marks the corrected word as mispelt until the next save, which is annoying.

[2017-08-07 14:40] s-light commented on #53
I found my problem - the language selection for the document in the status bar was set to `de-DE` (the Automatic) - if i set it to en than it checks. would be good if it shows some sort of info that for the chosen document language there is no spell-checking available....

additionally for me currently it seems there is a bigger problem with the path option:
if i remove the text from the path opti

[2017-08-11 12:14] Aerijo commented on #47
Just want to add that it takes 204ms to activate on my MacBook and Atom 1.19.0, but is the slowest of all my installed packages. The others all take 100ms or less (and I'm working on reducing that too).

Oh, and I'm using Hunspell.

[2017-08-14 22:22] Arcanemagus commented on #47
There is [a branch](https://github.com/AtomLinter/linter-spell/tree/arcanemagus/reduce-activation-time) where I did some work on attempting to reduce this, the problem is that the code essentially needs a complete rewrite to do things in a way that lets the activation time be down around where it should be.

[2017-08-15 09:02] shuntaroy commented on #54
I encounter the same issue with `hunspell`.
It might be better to add `-d {defaultLangages}` when executing `updateDictionaries()` for robustness instead of just adding `LANG=C` which may cause another conflict in a specific language environment.

@naota
I found an ad-hoc solution.
You can avoid the error message by adding two empty files named `ja_JP.dic` and `ja_JP.aff` into `~/Library/Spelling`

[2017-08-17 21:56] almereyda commented on #44
This error seems to be documented in

* https://github.com/atom/atom/issues/11080#issuecomment-193617920
* https://github.com/atom/apm/issues/322#issuecomment-206582713

with a workaround being to set the `ATOM_NODE_URL=https://gh-contractor-zcbenz.s3.amazonaws.com/atom-shell/dist` environment variable.

Please follow the links about details.

[2017-08-19 04:29] #44 closed, assigned to nobody

[2017-09-21 13:15] s-light opened #59 "enhancement: select combination of more than one active dictionary"
The Idea here is - if i have some texts that use german as base language but has a big bunch of english words in it i would like to select de + en as dictionaries at the same time. For sure this can give wrong 'its fine' results - but thats fine because i know i have selected the combination :-)

is this possible from linter-spell? or is this something that would be needed to be implemented in asp

[2017-09-22 14:22] S-Egg opened #60 "linter-spell: Dictionary request failed"
**_Call to hunspell failed with a code of null._**

Hi, It seems that the spell checker can not be found, how could I solve this problem?

[2017-09-22 18:41] yitzchak commented on #60
Try putting the full path to hunspell into the settings page.

[2017-10-11 18:10] gomezhyuuga commented on #60
Can you run `hunspell` from the command line and show the output?

[2017-10-12 11:23] AlexWayfer opened #61 "Don't check spell in code blocks"
From Markdown file:

![image](https://user-images.githubusercontent.com/6510020/31493696-ec061e3a-af58-11e7-90a9-0c1e71f164f0.png)

[2017-11-16 23:31] SeveNOlogy7 opened #62 "Call to hunspell failed with a code of 127."
The error: Call to hunspell failed with a code of 127. shows immediately after I enabled the plugin.

I have compiled hunspell using Cygwin on Windows 10 and tried to make sure the hunspell.exe running properly in CMD.  At least some features of hunspell are working. For example:

SEARCH PATH:
.::/usr/share/hunspell:/usr/share/myspell:/usr/share/myspell/dicts:/Library/Spelling..\share\hunspell:..\

[2017-11-21 18:31] SeveNOlogy7 commented on #62
Managed to progress a little and now the error is "Call to hunspell failed with a code of 1."

Previously the hunspell could only run when I cd to the folder containing hunspell.exe while typing the full path of the exe didn't work in another dictionary. Because some dependency was missing.

Also tried using an older version of hunspell (1.3.2-3) , still "Call to hunspell failed with a code of 1."

[2017-12-17 12:40] mlangiu opened #63 "Selecting spelling suggestions occasionally causes improper corrections"
The correction process of linter-spell  doesn't seem to be working properly for me.
I typed the sentence

into a text file, here's what happened:

 - To correct multiple misspelled words they have to be selected one by one via mouse (isn't there a keyboard shortcut for this?)
 - [Selecting the corrected spelling via mouse doesn't work at all] (https://github.com/AtomLinter/linter-spell/issues/46)

[2017-12-17 12:51] Aerijo opened #64 "[enhancement] Support for wildcard scopes"
I would appreciate it if there was a way to ignore the current scope when only part of it matches one given in the `checkedScopes` object; ie. the scope is more specific than the one in `checkedScopes`. For example, say I have the following LaTeX document:
[code]
The scope of `\section` in this case is `entity.name.section.section.latex, text.tex.latex`. Instead of having to specify a precise matc

[2017-12-26 13:38] Aerijo commented on #26
One possibility, to emulate this, is to spell check the previous word immediately when a space is entered. I don't know how to go about doing this (is there a key press event?), but it seems reasonable to me. It means the entire file doesn't get checked repeatedly, and users can immediately tell if new words are misspelt.

Alternatively, [`onDidStopChanging`](https://atom.io/docs/api/v1.23.1/TextB

[2018-01-25 10:58] QuentinRoy commented on #38
Same issue with hunspell 1.6.2, atom 1.23 and linter-spell 0.15 (exit code 1).

[2018-02-16 16:20] QuentinRoy opened #65 "Call to hunspell failed with a code of 1"
This is a re-opening of issue #38. The symptoms are similar. I am using hunspell 1.6.2, atom 1.24 and linter-spell 0.15. I've install hunspell using brew and it works perfectly outside Atom.

The surprising thing is that the linter seems to work if I disable it then disable it from Atom's preferences, but fails to launch at the same time as Atom.

[2018-03-01 21:14] ckfourie opened #66 "[enhancement] Ignore nouns (word with leading uppercase letter)?"
I'm unsure if there is a way to do this, and apologies if there is.

I don't seem to be able to get the linter to ignore nouns (something that starts with an uppercase letter). This would massively reduce the number of errors that I have and/or words that I need to add to the dictionary.

[2018-03-19 18:10] novski commented on #60
i have the same, after reading and trying arround im now asking what to do next.
I have done these steps:

1. downloaded [this pack](https://extensions.openoffice.org/en/project/german-de-ch-frami-dictionaries) and copied the .dat, .aff and .dic to ~/Library/Spelling/ where i also renamed them to only de_CH.dat ..
2. set the path with method nr. 2 from [this source](https://www.cyberciti.biz/faq/a

[2018-04-19 16:58] stakaz opened #68 "Vertical order for suggestions and selection by arrow keys"
Would it be possible to have vertical list of correct suggestions and a quick way to choose from this list (as for auto completion). For example a fix button at each entry would do it.

The current process of correct a word is a little bit inefficient when correcting a lot of errors.

Thanks

[2018-04-19 17:01] stakaz opened #69 "Corrections while typing and not only after saving"
It would be great if the correction would work while you type and not only after saving.

A similar package `write-good` can do this so I think it is just a matter of a decision in how to use the linter which is somehow hard-coded in this package.

Thanks

[2018-04-23 18:48] xavoh commented on #46
I also have this problem using:
Atom 1.26.0 x64
Mac OS X El Capitan 10.11.6
linter 2.2.0
linter-spell 0.15.0
intentions 1.1.5

[2018-04-23 19:02] xavoh commented on #63
I also experiencing this problem, but the posistion of the corrected word is sometimes offset by several lines/characters. This happens frequently and makes linter-spell unusable for me right now.

An example is shown in the two screenshots below:

![screen shot 2018-04-23 at 19 41 39](https://user-images.githubusercontent.com/36957392/39146743-8b35c92e-472f-11e8-948d-f239d4ec859f.png)

![screen s

[2018-05-22 01:27] rm-code opened #70 "Markdown table syntax is marked as error"
Hey, quick question: I have installed hunspell and am using linter-spell. It correctly marks spelling errors, but unfortunately it also marks my markdown tables as errors:

<img width="178" alt="bildschirmfoto 2018-05-22 um 03 26 17" src="https://user-images.githubusercontent.com/11627131/40337437-f571e2b8-5d6f-11e8-9a92-c5eb72a92b2a.png">

Any idea how to fix this? Is that an issue on hunspell's

[2018-05-29 19:38] zoenglinghou opened #71 "Is there a way to use enchant?"
Hi, I appreciate for your effort to bring `linter-spell` to Atom. This is less of a issue but more of a question. I recently installed `enchant` and intended to use it for multilingual spell checking with Apple Dictionary. `enchant-2 -a FILE` works well in terminal, with similar output to `hunspell -a`. But in `linter-spell`, I tried setting the binary path to `/usr/local/bin/enchant-2`, but the s

[2018-07-06 10:46] banduric opened #73 "(windows) linter-spell: Dictionary request failed"
Using linter-spell in Win7
After configuring Spell Path to: "c:\Program Files (x86)\Aspell\bin\aspell.exe"
I see an error: _**Dictionary request failed**_.
![screenshot000059](https://user-images.githubusercontent.com/9250855/42375020-8420975c-811a-11e8-8611-88172d6bf780.png)

How to fix this?

[2018-07-14 00:13] stevenlis opened #74 "Call to hunspell failded with a code of null"
I got the following error when launching Atom.
![snap1](https://user-images.githubusercontent.com/33796896/42718635-a3c69a20-86d8-11e8-9046-f73cbdcc9ff3.jpg)

Does this mean I have to install hunspell or something? If so, how to install it on Wins? All the instructions I found is about Mac.

Versions:
Windows 10
Atom 1.28.2
linter-spell 0.15.0
linter-spell-latex 0.11.0

[2018-07-14 01:14] stevenlis commented on #38
@chapmanc I also got the same error that "call to hunspell failed with a code of null". Is hunspell automatically installed with the package? By the way, could you pls share the path since I am not sure how to find it. Btw, I'm using wins 10.

[2018-07-14 01:16] Aerijo commented on #38
No. Most, if not all, external programs are not installed by any packages.

[2018-07-14 01:25] stevenlis commented on #38
@Aerijo Is there any way to install it? I did some research but all institutions are about mac. I actually did a search and somehow find some hunspell files under Anaconda3 folder. Should I copy one of those files path into linter-spell settings in Atom?

![snap1](https://user-images.githubusercontent.com/33796896/42719398-d5f11ed0-86e2-11e8-9e5d-54f74fe53eb6.jpg)

[2018-07-14 01:27] Aerijo commented on #38
@stevencollinscn Hunspell is a program in and of itself. Short of a prebuilt version, the github repo seems to have instructions on how to build it for Windows.

https://github.com/hunspell/hunspell

[2018-07-14 02:22] stevenlis commented on #38
@Aerijo I tried to follow the instruction for windows but got the following errors while trying to run those commends on their github page. I also saw other users have this issue as well.
![snap2](https://user-images.githubusercontent.com/33796896/42719853-bf266108-86ea-11e8-9d90-6af1a6268121.jpg)

[2018-07-14 03:13] stevenlis commented on #52
@Aerijo I had some issues with hunspell, so installed aspell instead. I specified the spell path as the following in the settings:
![snap3](https://user-images.githubusercontent.com/33796896/42720260-ff51f65a-86f1-11e8-9f52-cf45b59995cd.jpg)
Restarted atom and no error appers. I have installed all the required package as well. It doesn't work for me as well. I tried to type some missing typed word

[2018-07-26 07:26] fgast commented on #65
Same problem here, found a workaround:
Define all dictionaries in  'Spell Path' like

```/usr/local/bin/hunspell -d /Library/Spelling/de,/Library/Spelling/en_US```

[2018-10-01 15:02] jsg2021 commented on #74
This alert happens on Atom startup every time. Its working but it seems to do something on startup to alert this.

[2018-10-17 19:12] rcrooks commented on #57
same issue. Steps to reproduce:
1. Go to Settings>Install
2. Try to install linter-spell

Stack trace:
TypeError: Class constructor Disposable cannot be invoked without 'new'
    at new DictionaryProvider (/Users/rcrooks/.atom/packages/linter-spell/lib/dictionary-provider.js:11:40)
    at Object.activate (/Users/rcrooks/.atom/packages/linter-spell/lib/main.js:31:33)
    at Package.activateNow (/pr

[2018-10-17 21:03] Aerijo commented on #57
@rcrooks That looks like a very different issue, and is thrown from Atom Beta.

https://github.com/atom/atom/issues/18157

[2018-11-13 14:43] DavidDreher commented on #63
I have the same issue and it makes it hardly usable. Sometimes just saving before changing a word helps, but this is not a 100% fix, since sometimes it still changes at a random position.

Also reverting the linter-ui-default package to 1.6.10 did not fix the issue for me.

[2018-12-01 14:25] #27 closed, assigned to yitzchak

[2019-02-24 18:40] ptytb commented on #38
I got it working with Hunspell from [Cygwin](https://cygwin.com/install.html) distribution.

Install Hunspell and dictionaries from Cygwin, then create a file `hunspell.bat`:

[code]
Go to Atom, open `linter-spell` plugin settings, put `hunspell.bat` into *Spell Path* field. Now Ctrl-Shift-Y works, spell checking works.

[2019-05-10 16:32] novelistparty commented on #61
I'd like to see this fixed too

[2019-05-23 00:43] JackSwett commented on #74
Info to compile Hunspell from source on their GitHub. Not sure if there is an installer out there, probably is.
[https://github.com/hunspell/hunspell](https://github.com/hunspell/hunspell)

For Ubuntu users, just `apt install hunspell`, and the error goes away.

If not, change the spell-path in the settings to aspell, instead of hunspell

[2019-06-05 21:49] falcoso opened #77 "linter-spell not working on files on .gitignore"
Ubuntu 18.04.2 LTS
Atom 1.36.1

Have installed linter-spell with linter-spell-latex.

Plugin works fine on all my files apart from when I have a project open that makes use of a gitignore. I don't want my .tex or .txt file in the repository so have git ignored them, but also the linter doesn't spell check these files.

(I've seen on previous issues people able to get lists of more specs but I can'

[2019-11-02 21:23] NaCl222 commented on #74
Use Msys2 to install Hunspell (on windows )
1.install Msys2   https://www.msys2.org/
2.install program Hunspell with Msys2
2.1 pacman -Ss Hunspell (to search the version of Hunspell)
2.2 pacman -S <package name>(may be mingw-w64-x86_64-hunspell)
Done.
It costs me a lot of time to fix the spell-checker, glad to help u~

[2019-11-04 04:45] stevenlis commented on #74
@NaCl222 @JackSwett @jsg2021 Thanks a lot guys but I no longer use Atom.

[2019-11-04 04:45] #74 closed, assigned to nobody

[2019-11-08 02:14] MithicSpirit opened #78 "Add to personal dictionary not functioning"
Windows 10
Atom 1.41.0

Words added to the personal dictionary stop being flagged for the current session, but after restarting Atom they are flagged again, similar to how "Ignore" works.

EDIT: Using linter-spell-latex on a `.tex` document. All packages are up to date.

[2020-01-11 20:01] facundoq commented on #78
Kubuntu 19.04
Atom 1.42.0
Backend: aspell

Can confirm! The first time I used atom after I installed linter-spell _some_ words were added (cat ~/.aspell.en.pws). Afterwards, they are only stored for the current session as @MithicSpirit mentions.

[2020-01-13 04:05] jacob-roth commented on #57
similar here:

1. `install linter-spell`
2. receive below message

**Atom**: 1.42.0 x64
**Electron**: 4.2.7
**OS**: Mac OS X 10.15.2
**Thrown From**: [linter-spell](https://github.com/AtomLinter/linter-spell) package 0.15.0

### Stack Trace

Failed to activate the linter-spell package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-02-07 17:06] schneiderfelipe opened #79 "How to forcefully ignore scopes"
Is there a way to ignore scopes in a way that, if it is set to `false` in `checkedScopes`, it will be ignored *even* if the scope matches another entry in `checkedScopes`?

[2020-03-15 14:15] JanetLaysEggs commented on #60
I'm having similar issues. ;(

[2020-03-19 10:18] silviolorusso opened #80 "Ignore words in single quotes"
Hi, is there a way not to have considered misspells words in single quotes, such as 'user'? Thanks.

[2020-05-07 16:12] gerazov commented on #52
No luck here either - I've all the packages. It used to work nicely, then it worked sometimes, and now it doesn't work at all. Each time I save the document the yellow dot starts pumping and then it just turns green, no errors nothing. I'm also on Arch (Manjaro actually), but @StevenLi-DS is on Windows ...

Hunspell is on my PATH and works from the command line ...

Also the built in spell checker

[2020-05-07 16:31] gerazov commented on #52
Ok solved it! It turns out there was a problem with `linter-spell-latex`. I installed `linter-spell-latexsimple` and now it works :sunglasses: :+1:
Possibly related to https://github.com/AtomLinter/linter-spell-latex/issues/25

[2020-09-17 12:19] #26 closed, assigned to nobody

[2020-09-17 13:06] AlexWayfer commented on #26
Why?

[2020-09-25 09:47] AlexWayfer commented on #26
@yitzchak, please, don't close issues without explanation. I'm still interested in this.

[2020-09-25 10:13] yitzchak commented on #26
@AlexWayfer This issue is 4 years old and was really a note to myself when I maintained this package. There hasn't been any activity in this project for two years. If you want this feature then its probably up to you.

[2020-09-25 11:21] AlexWayfer commented on #26
OK, but I don't see a reason for the issue closing — it's still an issue, it's still here.

[2021-02-18 09:39] tensor-io commented on #52
Installation of Linter-UI-Default solved also my problem. Thanks a lot!

[2021-05-03 16:04] AlexWayfer opened #81 "Unable to find a dictionary for Russian language"
![image](https://user-images.githubusercontent.com/6510020/116901075-2ac05980-ac42-11eb-97cd-8cf81226d778.png)

Arch Linux, tried with [`hunspell-ru`](https://aur.archlinux.org/packages/hunspell-ru/) and [`hunspell-ru-aot`](https://aur.archlinux.org/packages/hunspell-ru-aot/).

[2021-06-11 08:15] vBuresh commented on #81
It works well on my Debian 11 with settings like this:
![linter-spell-settins](https://user-images.githubusercontent.com/20504132/121654120-10319980-caa6-11eb-917d-66b68cf136d5.png)
For more information on connecting dictionaries on Arch Linux, see [atom / spellcheck README.md ] (https://github.com/atom/spell-check#arch-linux). The setting is similar to the linter-spell.

[2021-06-11 08:19] AlexWayfer commented on #81
It turned out Arch Linux `ru` package problem, its update: https://aur.archlinux.org/packages/hunspell-ru/#comment-806056

Sorry for bothering.

[2021-06-11 08:19] #81 closed, assigned to nobody

[2022-04-07 06:24] hyphy404 opened #82 "HTMLDocument.registerElement is deprecated."
Use `customElements.define` instead of `document.registerElement` see https://javascript.info/custom-elements
[code]

[2022-08-29 15:05] leviyevalex commented on #74
What is the "spell-path" that Atom wants after following these steps?